.form {
  max-width: 600px;
  padding: 50px 50px;
  margin-top: 20px;
  background: #a3c9aa;
  border-radius: 20px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0 0 30px 0;
  font-weight: 600;
  text-align: center;
  color: #474747;
}

input {
  border: none;
  font-size: 20px;
  height: auto;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #ffffffff;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

fieldset {
  width: 450px;
  height: 500px;
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

.button {
  cursor: pointer;
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #3ac162;
}

.error {
  color: #f0e263;
}
