.container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 60px 100px 100px 100px;
  gap: 40px;
  background: #effaf9;
}

.sortWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 50px;
}

.buttonSort {
  background-color: #4bc970;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  color: #effaf9;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  outline: 0;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  touch-action: manipulation;
}

.buttonSort:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  background-color: #3ac162;
}
